# ============ GENERAL =============
*.class
*.log
*.lock
*.bin
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# ============ OS Specific ============
.DS_Store
Thumbs.db

# ============ IDE ============
.idea/
*.iml
*.iws
*.ipr

# ============ BUILD OUTPUT ============
/build/
/app/build/
/consumerapp/build/
/*.apk
/*.ap_
*.aab
output.json

# ============ GRADLE =============
.gradle/
buildOutputCleanup.lock
file-system.probe
local.properties
*.properties
!gradle.properties # <== masih boleh disimpan

# ============ VERSION CATALOG =============
.gradle/*/dependencies-accessors/
.gradle/*/libs.versions.toml*

# ============ ANDROID STUDIO RUN ============
captures/
.externalNativeBuild/
.cxx/

# ============ KOTLIN DSL ============
*.kts~
*.kts.bak
.idea/modules.xml

# ============ LOGS & TEMP ============
*.tmp
*.swp
*.swo
*.orig

# ============ TEST COVERAGE ============
/coverage/
*.ec

# ============ MISC =============
/*.bak
*.rej
*~

# Uncomment this if you're uploading to GitHub and want to ignore GitHub Codespaces
# .devcontainer/
